/* Azeret Mono font */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

  /* details , email placeholder */
    .regular {
    font-family: "Azeret Mono", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  /* button , footer*/
  .semibold{
    font-family: "Azeret Mono", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }
  /* email-section-header */
  .bold{
    font-family: "Azeret Mono", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }
  /* section title card title logo */
    .extrabold {
    font-family: "Azeret Mono", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
  }
  /* shared styles */
  .primary-color{
    color: #0D1321;
  }
  /* why devlopment card title */
  .secondary-color{
    color: rgba(13, 19, 33, 0.7);
  }
  /* support input */
  .third-color{
    color: rgba(13, 19, 33, 0.4);
  }
  .btn{
    padding: 12px 20px;
    border: 1px solid rgba(13, 19, 33, 0.4);
  }
  .btn a{
    color: rgba(13, 19, 33, 0.7);
  }
  section{
    margin-bottom:90px ;
  }
  .text-center{
    text-align: center;
  }

  /* border */
  .border{
    border: 1px solid rgba(13, 19, 33, 0.2) ;
    border-radius: 16px;
  }
  /* title */
  .title{
    font-size: 32px;
    margin-bottom: 24px;
  }
  .flex-box{
    display: flex;
    align-items: center;
    justify-content: center;
  }
/* nav */
  nav{
    display: flex;
    justify-content: space-around;
  }
.download-btn{
    padding: 17px 24px;
    border: 1px solid #0D1321;
    border-radius: 8px;
    background-color: #FFFF ;
  }
  .download-btn a, .btn a{
    text-decoration: none;
  }
  /* banner */
  .banner{
    flex-direction: column;
    background-image: url(../assets/Hero-bg.png);
    height: 70vh;
    margin-top:36px ;
  }
  .banner-title{
    font-size: 48px;
  }
  .contact-btn{
    padding:21px 24px;
    color:#FFFFFF ;
    background-color:#0D1321 ;
    border-radius: 16px;
  }
  .contact-btn a{
    text-decoration: none;
    color: #FFFFFF;
  }
/* why web dev */
.web-dev{
    max-width: 70vw;
    background-color: rgba(13, 19, 33, 0.02);
    margin: 0 auto;
    padding: 80px 97px;
    border-radius: 16px;
}
.dev-title{
  font-size: 24px;
  margin-bottom: 16px;
}
.dev-box{
  justify-content: space-between;
}
.dev-box2{
  flex-direction: row-reverse;
}
/* inspiration */
.inspiration{
  flex-direction: column;
  margin: 0 auto;
}
.video{
  padding: 32px ;
  border-radius: 16px;
}
/* current target */
.learn-more{
  text-decoration: underline;
}
.box{
  padding: 40px;
  gap:24px ;
  border-radius: 16px;
}
.box1{
  background-color: #EBEBEB;
}
.box2{
  background-color: rgba(0, 76, 232, 0.2);
}
.box3{
  background-color:rgba(255, 223, 0, 0.2);
}
/* current-target */
.current-target{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 24px;
  border-radius: 16px;
}
/* next-target */
.next-target{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  gap: 24px;
}